<%include ./partials/header.ejs %>
<style>
  .card #aa{
    background-color: rgb(243, 243, 87);
  }
</style>
<div class="mx-2 my-2">
<h3>Create a post</h3><br>
<form action="/create" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <textarea placeholder="Write something about your college, exams, placements and stuff like that..." name="content" id="" cols="30" rows="10"></textarea>
    <div class="input-group mb-3">
        <input name="image" type="file" class="form-control" id="inputGroupFile02">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Post it.</button>
</form>
<hr>
<h3>My feeds</h3><hr>
<% if(foundUser.posts.length > 0){ %>
  <% foundUser.posts.reverse().forEach(function(data){ %>
    <div class="card my-2 mx-2 p-2" style="width: 18rem;">
      <% if(data.image != undefined){ %>
      <% if(data.image.substring(data.image.length-3) == "pdf"){ %>
        <a download id="aa" href="/images/uploads/<%= data.image %>"><%= data.image %></a>
      <% } else if(data.image){ %>
        <img src="/images/uploads/<%= data.image %>" class="card-img-top">
      <% } %>
      <% } %>
        <div class="card-body">
          <h5 class="card-title">@ <%= foundUser.username %></h5>
          <p class="card-text"><%= data.content %></p>
          <a href="" style="text-decoration: none;"><%= data.likes.length %> Likes</a><br>
          <a href="/like/post/<%= data._id %>" class="btn btn-primary">Vote Up 👍</a>
          <a href="/report/post/<%= data._id %>" class="btn btn-danger">Report this user?</a>
        </div>
      </div>
  <% }) %>
<% } else { %>
      <h4>No posts available !!😟</h4>
<% } %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
      var scrollpos = localStorage.getItem('scrollpos');
      if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function(e) {
      localStorage.setItem('scrollpos', window.scrollY);
  };
</script>
<%include ./partials/footer.ejs %>